<div class="row" id="semi-header">
  <div class="page-heading">
    <h1>Messages</h1>
    <%= link_to 'Sent messages', messages_sent_path %>
  </div>
  <div class="new-button">
    <%= link_to "Compose a New Message", new_message_path, html_options = {:class => "btn btn-large btn-primary"} %>
  </div>
</div>
<table class="table">
  <tbody>
    <thead>
      <tr>
        <th class="from-column">From</th>
        <th class="subject-column">Subject</th>
        <th class="at-column">At</th>
      </tr>
    </thead>
    <% @messages.each do |message| %>
      <tr>
        <td>
          <%= link_to user_for_id_in_name(message.user_id), user_path(user_for_id(message.user_id)) %>
        </td>
        <td>
          <h3 class="message-subject"><%= message.subject %></h3>
          <%= simple_format(message.content) %>
        </td>
        <td>
          <%= time_ago_in_words(message.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>