<%= render 'pages/intro' %>
<div class="row" id="semi-header">
  <div class="page-heading">
    <h1>Forums</h1>
  </div>
  <div class="new-button">
    <% if admin? %>
      <%= link_to "New Forum", new_forum_path, html_options = {:class => "btn btn-large btn-primary"} %>
    <% end %>
  </div>
</div>
<table class="table">
  <tbody>
    <thead>
      <tr>
        <th class="forum-name"></th>
        <th class="forum-topics-count">Topics</th>
        <th class="forum-posts-count">Posts</th>
        <th class="forum-views-count">Views</th>
        <% if admin? %>
          <th>Setting</th>
        <% end %>
      </tr>
    </thead>
    <% @forums.each do |forum| %>
      <tr>
        <td>
          <%= link_to forum.name, forum_topics_path(forum) %></br>
          <%= forum.description %>
        </td>
        <td>
          <%= forum.topics.count %>
        </td>
        <td>
          <%= total_posts forum %>
        </td>
        <td>
          <%= total_views forum %>
        </td>
        <% if admin? %>
          <td>
            <span class="forum_setting">
              <%= link_to "Edit", edit_forum_path(forum) %>
              <%= link_to 'Delete', forum, confirm: 'Are you sure?', method: :delete %>
            <span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>