<div class="row" id="semi-header">
  <div class="span10">
    <h1>Forums</h1>
  </div>
  <div class="span2">
    <%= link_to "New Forum", new_forum_path, html_options = {:class => "btn btn-large btn-primary"} %>
  </div>
</div>

<table class="table">
  <tbody>
    <thead>
      <tr>
        <th>General Forums</th>
        <th>Topics</th>
        <th>Posts</th>
        <th>Settings</th>
      </tr>
    </thead>
    <% @forums.each do |forum| %>
      <tr>
        <td>
          <%= link_to forum.name, forum_topics_path(forum) %> </br> <%= forum.description %>
        </td>
        <td>
          <%= forum.topics.count %>
        </td>
        <td>
          <% sum = 0 %>
          <% forum.topics.all.each do |topic| %>
            <% sum += topic.posts.count %>
          <% end %>
          <%= sum - forum.topics.count %>
        </td>
        <td>
          <%= link_to 'Edit', edit_forum_path(forum) %> <%= link_to 'Delete', forum, confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>