<% provide(:title, @forum.name) %>

<div class="row" id="semi-header">
  <div class="span10">
    <h1><%= @forum.name %></h1>
    <%= link_to 'Forums', root_path %>
  </div>
  <div class="span2">
    <%= link_to "New Topic", new_forum_topic_path, html_options = {:class => "btn btn-large btn-primary"} %>
  </div>
</div>

<%= will_paginate %>
<table class="table">
  <tbody>
    <thead>
      <tr>
        <th>Topics</th>
        <th>Last Post</th>
        <th>Replies</th>
        <th>Views</th>
        <% if current_user.admin == true %>
          <th>Settings</th>
        <% end %>
      </tr>
    </thead>
    <% @topics.each do |topic| %>
      <tr>
        <td>
          <% if !topic.closed? %>
            <%= link_to topic.name, topic_posts_path(topic) %> 
          <% else %>
            <strike><%= topic.name %></strike>
          <%end%>
          </br>
          by <%= link_to topic_creator_name(topic), user_path(topic_creator(topic)) %>
        </td>
        <td>
          by <%= link_to last_post_creator_name(topic), user_path(last_post_creator(topic)) %> at</br>
          <%= time_ago_in_words(last_post(topic).created_at) %>
        </td>
        <td><%= topic.posts.count-1 %></td>
        <td><%= topic.views %></td>
        <% if current_user.admin == true %>
          <td><%= link_to 'Edit', edit_topic_path(topic) %> 
          <%= link_to 'Delete', topic, confirm: 'Are you sure?', method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>