<% provide(:title, @forum.name) %>

<div class="row" id="semi-header">
  <div class="span10">
    <h1><%= @forum.name %></h1>
    <%= link_to 'Forums', root_path %>
  </div>
  <div class="span2">
    <%= link_to "New Topic", new_forum_topic_path, html_options = {:class => "btn btn-large btn-primary"} %>
  </div>
</div>

<table class="table">
  <tbody>
    <thead>
      <tr>
        <th>Topics</th>
        <th>Last Post</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Settings</th>
      </tr>
    </thead>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic_posts_path(topic) %> </br> Username_placeholder</td>
        <td>Username_placeholder at </br><%= topic.posts.last.created_at %></td>
        <td><%= topic.posts.count-1 %></td>
        <td><%= topic.views %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %> 
        <%= link_to 'Delete', topic, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>