<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="main-form">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>
    
    <% if admin? %>
      <%= f.label :mod %>
      <%= hidden_field_tag 'user[mod]', false %>
      <%= check_box_tag 'user[mod]', true, (@user.mod == 1 ? true : false)%>
    <% end %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>
</div>