<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="main-form">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>
</div>