<% title_temp = @topic.name + ' | ' + @forum.name %>
<% provide(:title, title_temp) %>

<div class="row" id="semi-header">
  <div class="span10">
    <h1>
      <%= @topic.name %>
      <% if @topic.closed? %>
        <span class="label label-important">Topic Closed</span>
      <% end %>
    </h1>
    <%= link_to 'Forums', root_path %> > <%= link_to @forum.name, forum_topics_path(@forum) %>
  </div>
  <% if !@topic.closed? %>
    <div class="span2">
      <%= link_to "New Post", new_topic_post_path, html_options = {:class => "btn btn-large btn-primary"} %></br>
    </div>    
  <% end %>
</div>

<%= will_paginate %>
<table class="table">
  <tbody>
    <thead>
      <tr>
        <th>Posts</th>
        <th>Users</th>
        <th>Posted at</th>
        <% if current_user.admin == true %>
          <th>Settings</th>
        <% end %>
      </tr>
    </thead>
      <tr>
        <td><%= simple_format(@topic.content) %></br>
          <% if @topic.user_id == current_user.id %>
            <%= link_to 'Edit', edit_topic_path(@topic) %>
            <%= link_to 'Delete topic', @topic, confirm: 'Are you sure?', method: :delete %>
          <% end %>
          <% if reported_topic?(@topic) %>
            Reported
          <% else %>
            <%= link_to 'Report', new_topic_flagtopic_path %>
          <% end %>
        </td>
        <td><%= link_to topic_creator_name(@topic), user_path(topic_creator(@topic)) %></td>
        <td><%= time_ago_in_words(@topic.created_at) %></td>
        <td><%= link_to 'Edit', edit_topic_path(@topic) %>
        <%= link_to 'Delete topic', @topic, confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= simple_format(post.content) %>
          <% if post.user_id == current_user.id %>
            <%= link_to 'Edit', edit_topic_post_path(@topic, post) %> 
            <%= link_to 'Delete', [@topic, post], confirm: 'Are you sure?', method: :delete %>
          <% end %>
          <% if reported_post?(post) %>
            Reported
          <% else %>
            <%= link_to 'Report', new_post_flagpost_path(post) %>
            <!--  link_to 'Report', new_post_flagpost_path  -->
          <% end %>
        </td>
        <td>
          <%= link_to post_creator_name(post), user_path(post_creator(post)) %>
        </td>
        <td><%= time_ago_in_words(post.created_at) %></td>
        <% if current_user.admin == true %>
            <td><%= link_to 'Edit', edit_topic_post_path(@topic, post) %> 
            <%= link_to 'Delete', [@topic, post], confirm: 'Are you sure?', method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>