<% title_temp = @topic.name + ' | ' + @forum.name %>
<% provide(:title, title_temp) %>

<div class="row" id="semi-header">
  <div class="span10">
    <h1><%= @topic.name %> </h1><%= link_to 'Forums', root_path %> > <%= link_to @forum.name, forum_topics_path(@forum) %>
  </div>
  <div class="span2">
    <%= link_to "New Post", new_topic_post_path, html_options = {:class => "btn btn-large btn-primary"} %></br>
  </div>
</div>

<%= will_paginate %>
<table class="table">
  <tbody>
    <thead>
      <tr>
        <th>Posts</th>
        <th>Users</th>
        <th>Posted at</th>
        <% if current_user.admin == true %>
          <th>Settings</th>
        <% end %>
      </tr>
    </thead>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %>
        <% if post.user_id == current_user.id %>
          <p>
            <% if post == @topic.posts.first %>
              <%= link_to 'Edit', edit_topic_path(@topic) %>
              <%= link_to 'Delete topic', @topic, confirm: 'Are you sure?', method: :delete %>
            <% else %>
              <%= link_to 'Edit', edit_topic_post_path(@topic, post) %> 
              <%= link_to 'Delete', [@topic, post], confirm: 'Are you sure?', method: :delete %>
            <% end %>
          </p>
        <% end %>
        </td>
        <td>
          <%= link_to post_creator_name(post), user_path(post_creator(post)) %>
        </td>
        <td><%= time_ago_in_words(post.created_at) %></td>
        <% if current_user.admin == true %>
          <% if post == @topic.posts.first %>
            <td><%= link_to 'Edit', edit_topic_path(@topic) %></td>
          <% else %>
            <td><%= link_to 'Edit', edit_topic_post_path(@topic, post) %> 
            <%= link_to 'Delete', [@topic, post], confirm: 'Are you sure?', method: :delete %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>