<div class="row" id="semi-header">
  <div class="span10">
    <h1><%= @topic.name %> </h1><%= link_to 'Forums', root_path %> > <%= link_to @forum.name, forum_topics_path(@forum) %>
  </div>
  <div class="span2">
    <%= link_to "New Post", new_topic_post_path, html_options = {:class => "btn btn-large btn-primary"} %></br>
  </div>
</div>

<table class="table">
  
  <tbody>
    <thead>
      <tr>
        <th>Posts</th>
        <th>Users</th>
        <th>Posted at</th>
        <th>Options</th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td>Username_placeholder</td>
        <td><%= post.created_at %></td>
        <td><%= link_to 'Edit', edit_topic_post_path(@topic, post) %> 
        <%= link_to 'Delete', [@topic, post], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>